page-inicio {
	.unlock{
		text-align: center;
		text-color: #FF8C00;
		background-color: #567D8C;
		
		position: absolute; 
		left: 90px; /* posiciona a 90px para a esquerda */ 
		top: 200px; /* posiciona a 70px para baixo */
	}
	.texto{
		text-align: justify;
		background-color: #EEF1E5;
		text-color: #071826; 
		text-indent: 20px;
	}
	/*.fundo-content{
	   background-image: ;
	}*/
		
	

}
